.AWarrow {
	display: inline;
}

.AWcollapseOpen {
	display: inline;
}

.AWcollapseOpen:hover {
	cursor: pointer;
}

.AWcollapseClosed {
	display: inline;
}

.AWcollapseClosed:hover {
	cursor: pointer;
}