#covariance {
	background-color: #EAEAEA;
	border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-top: none;
}

#covariance tr:hover {
	background-color: #DDDDDD;
}